VITE_API_URL=<String>               # URL del backend, por ejemplo: "https://api.example.com"
VITE_CANT_LIM_DIAGNOSTICOS=<Int>    # Número de diagnósticos que puede almacenar la aplicación antes de que aparezca una advertencia de uso de espacio
VITE_DRIVE_API_URL=<String>         # URL de la API de Google Drive
VITE_DRIVE_FILENAME=<String>        # Nombre del archivo de pacientes dentro de Google Drive
VITE_DRIVE_FOLDER_NAME=<String>     # Nombre de la carpeta en Google Drive donde se guardan los archivos
VITE_CLAVE_AES=<String>             # Clave AES para encriptar las credenciales de la aplicación y del usuario
VITE_URL_CONDICIONES=<string>       # URL al documento que contiene los términos y condiciones de uso de la aplicación
VITE_URL_MANUAL_USUARIO=<String>    # URL del manual de instrucciones para los usuarios
VITE_URL_MANUAL_ADMIN=<String>      # URL del manual de instrucciones para los administradores